<h2 class="card-title text-center">Welcome to Restaurant A Go Go!</h2>
<h4 class="card-text text-center">See a list of restaurants in your area</h4>
<div class="row mb-3" *ngFor="let r of restaurantList">
  <div class="container-fluid col-md-6 h-100">
    <div class="card card-block">
      <div class="card-body">
        <h3>{{ r.name }}</h3>
        <h5>{{ r.address }}</h5>
        <h5>{{ r.city }} {{ r.state }} {{ r.zip }}</h5>
        <p class="horizontal" *ngFor="let t of r.type">{{ t.title }}</p>
        <!--<a class="btn btn-primary mr-3" [ngClass]="light2?'lighton':'lightoff'" (click)="addFavorite(r); toggleLight2(r)">Add to Favorites</a>-->
        <a class="btn btn-primary mr-3" (click)="addFavorite(r)">Add to Favorites</a>
        <a class="btn btn-primary" [routerLink]="['/singleview',r.yelpID]">View more details</a>
      </div>
    </div>
  </div>
  <div class="container-fluid col-md-6 h-50">
    <div class="card card-block">
      <div class="card-body yelp-img">
        <img class="card-img-top img-fluid" src="{{r.img}}" alt="Alternate Text" />
      </div>
    </div>
  </div>
</div>

