<h1 *ngIf="favList.length == 0">
  No favorites found.
</h1>



<!--<div *ngFor="let f of favList">
  <h1>{{f.restaurantName}}</h1>
  <h4>{{f.restaurantAddress}}</h4>
  <h5>{{f.city}} {{f.state}} {{f.zip_code}}</h5>
  <a class="btn btn-danger mr-3" (click)="removeFavorite(f.favoriteId,f.userId)">Remove from Favorites</a>
  <a class="btn btn-primary" [routerLink]="['/singleview',f.yelpId]">View more details</a>
</div>-->

<div class="favoritecontainer">
  <div class="row mb-3" *ngFor="let f of favList">
    <div class="container h-100 w-50" >
      <div class="card card-block">
        <div class="card-body">
          <h3>{{ f.restaurantName }}</h3>
          <h5>{{ f.restaurantAddress }}</h5>
          
  <!--<h5>{{f.city }} {{ r.state }} {{ r.zip }}</h5>-->

          <a class="btn btn-danger mr-3" (click)="removeFavorite(f.favoriteId,f.userId)">Remove from Favorites</a>
          <a class="btn btn-primary" [routerLink]="['/singleview',f.yelpId]">View more details</a>
         
        </div>
    </div>
  </div>
    </div>
  </div>
  

