<div *ngFor="let r of restaurants">
  <h3>{{r.name}}</h3>
  <h4>{{ r.address }}</h4>
  <h4>{{ r.city }} {{ r.state }} {{ r.zip }}</h4>
  <h4>{{ r.phone }}</h4>
  <h4>Rating: {{ r.rating }} of 5</h4>
  <h4>Price: {{ r.price }}</h4>
  <p>Price Per Person: $=Under $10, $$=$11-$30, $$$=$31-$60, $$$$=over $61</p>
  <img width="200" height="200" src="{{ r.img }}" />
  <br />
  <div>
    <a class="btn btn-primary" style="margin-right:10px" href="{{ r.url }}" target="_blank">Click here for more info</a>
  <a class="btn btn-success" href="https://www.google.com/maps/place/ {{ r.address }}+{{ r.city }}+{{ r.zip }}" target="_blank">Click here for map</a>

</div>

